body {
	font-family: Roboto, Calibri, Verdana, sans-serif;
	margin: 0;
}

.button {
	padding: 10px 3em;
	border: 2px solid #00c2ff;
	border-radius: 4px;
	background-color: #00c2ff;
	color: white;
	font-family: Roboto, Calibri, Verdana, sans-serif;
	font-size: 1em;
	transition: 0.25s;
}
.button:hover {
	background-color: white;
	color: black;
}

#top {
	height: 75px;
	margin: 0;
	display: block;
	margin: 0 auto;
}

#topdiv {
	background-color: #00C2FF;
}

#body {
	width: 80%;
	margin: 3em auto;
}
