body {
	font-family: Roboto, Calibri, Verdana, sans-serif;
	margin: 0;
}

#top {
	height: 75px;
	margin: 0;
	display: block;
	margin: 0 auto;
}

#topdiv {
	background-color: #00C2FF;
}

#body {
	margin: 20px;
}
